@import url('https://fonts.googleapis.com/css?family=Dokdo');

body{
    margin: 0;
    display: grid;
    grid-template-areas:    'navbar navbar navbar navbar'
                            'section section aside aside'
                            'footer footer footer footer';
    grid-template-rows: 10vh 70vh 20vh;
    grid-template-columns: 24.7vw 24.7vw 24.7vw 24.7vw;
}

nav{
    grid-area: navbar;
    background-color: rgb(204, 0, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a{
    color: white;
    text-decoration: none;
    font-size: 16pt;
}

nav a:hover{
    color: yellowgreen;
    text-decoration: underline;
}

#menuHamburguer{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    height: 25px;
    width: 30px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 4px;
}

.trace{
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 40px;
}

section{
    grid-area: section;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section h1{
    color: white;
    font-size: 25pt;
    font-family: 'Dokdo', cursive;
}

section img{

    border-radius: 100%;
}

aside{
    grid-area: aside;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside h2{
    font-family: 'Courier New', Courier, monospace;
    color: orange;
}

aside p{
    font-family: 'Courier New', Courier, monospace;
    font-size: 14pt;

}

footer{
    display: flex;
    justify-content: space-around;
    align-content: center;
    grid-area: footer;
    background-color: rgb(153, 255, 0);
}

#redesSociais{
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#redesSociais img{
    height: 50px;
    padding: 10px;
}

#ajudeNicolas{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#ajudeNicolas a{
    color: white;
    text-decoration: none;
    font-size: 12pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}





@media(max-width:768px){
    body{
        grid-template-areas:    'navbar navbar navbar aside'
                                'section section section aside'
                                'footer footer footer aside';
        grid-template-rows: 10vh 70vh 20vh;
        grid-template-columns: 24.7vw 24.7vw 24.7vw 24.7vw;
    }

    nav{
        background-color: black;
    }


    #menuHamburguer{
        display: flex;
        border-color: white;
    }

    .trace{
        background-color: white;
    }

    nav a{
        display: none;
    }

}

@media (max-width:425px){
    body{
        
        grid-template-areas:    'navbar navbar navbar navbar'
                                'section section section section'
                                'aside aside aside aside'
                                'footer footer footer footer';
        grid-template-rows: 10vh 100vh 100vh 35vh;
    }
    nav{
        background-color: darkorange;
    }
    section{
        background-color: purple;
    }
    aside{
        background-color: greenyellow;
    }
    footer{
        background-color: aquamarine;
        flex-direction: column;
        justify-content: space-between;
    }
    nav{
        justify-content: flex-start;
    }
    #menuHamburguer{
        margin-left: 10px;
        border-color: red;
    }
    .trace{
        background-color: red;
    }
}